.upcomingGames {
    display: flex; 
    align-items: center; 
    padding: 10px; 
    background-color: #f8f9fa;
    border-bottom: 2px solid #ddd; 
    border-radius: 5px; 
}


.gamesContainer {
    display: flex; 
    justify-content: flex-start; 
    flex-wrap: wrap; 
    margin-left: 55px; 
}

.gameItem {
    min-width: 140px; 
    padding: 10px;
    margin-right: 14px; 
    text-align: center; 
    background-color: #fff; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    font-size: 14px;
    transition: transform 0.2s, box-shadow 0.2s; 
}



.gameItem span {
    display: block; 
    font-weight: bold; 
    text-align: center;
    margin-top: 5px; 
}



.teamLogo {
    width: 40px; 
    height: auto; 
    margin-right: 3px; 
}

.gameItem:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}



.btnHome {
    background-color: #007bff; 
    color: white; 
    
}

.btnHome:hover {
    background-color: #0056b3; 
}

.btnHome:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5); 
}


@media (max-width: 600px) {
    .gamesContainer {
        margin-left: 20px; 
    }

    .gameItem {
        min-width: 100px; 
    }
}